.moneda {
  font-size: 20px;
}

.euro {
  margin-left: 50px;
  
}

.dolar {
  margin-left: 40px;
}

.btc{
  color: black;
}

.desc {
  font-weight: bold;
  margin-right: 8px;
  font-size: 15px;
  
}

.descBtc {
  font-weight: bold;
  margin-right: 8px;
  font-size: 15px;
  color: black;
}

.tempClima {
    font-size: 23px;
}

.sensTerm{
  font-weight:bold;
}

/* // Medium devices (tablets, 768px and 992px) */
@media only screen and (max-width: 893px) {


  .logoClima {
    width: 50px;
  }

  .apiClimaMax {
    display: none;
  }

  .apiClimaMin {
    display: block;
  }

  .ciudadClima {
    font-size: 12px;
    margin-top: 7px;
    margin-bottom: -9px;
  }

  .moneda {
    font-size: 12px;
    
  }
  .euro {
    margin-left: 12px;
    
  }

  .dolar{
    margin-left:12px;
  }

  .desc {
    font-weight: bold;
    font-size: 10px;
    border: black 1px solid;
    border-radius: 10%;
    padding: 2px;
    background-color: black;
    color: white;
  }

  .descBtc {
    font-weight: bold;
    font-size: 10px;
    border: coral 1px solid;
    border-radius: 10%;
    padding: 2px;
    background-color: coral;
    color: white;
  }


}

@media only screen and (min-width: 893px) {
  .apiClimaMin {
    display: none;
  }

  .apiClimaMax {
    display: block;
    
  }
  
  .nombreCiudad {
    margin-top:13px;
    margin-bottom:-1px;
  }

  .extrasClima{
    height: 30px;
  }

  .logoClima {
    width: 80px;
  }

}
