/* Titulo */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap");

.titulo {
  font-family: "Noto Serif", serif;
  font-size: 75px;
}

.punto {
  font-size: 75px;
  color: red;
}

/* FOOTER */
.position {
  /* position: fixed; */
  bottom: 0px;
  left: 0;
  width: 100%;
}
.tituloFooter {
  font-family: "Noto Serif", serif;
  font-size: 50px;
  color: white;
}

.piePagina {
  color: white;
  border: 1px solid white;
  border-radius: 10px;
}

/* REDES SOCIALES */
.facebook {
  width: 36px;
  height: 36px;
  border-radius: 20%;
  color: #fff;
  background: #3b5998;
}

.twitter {
  width: 36px;
  height: 36px;
  border-radius: 20%;
  color: #fff;
  background: #00acee;
}

.instagram {
  width: 36px;
  height: 36px;
  border-radius: 20%;
  /* border-radius: 40px; */
  color: #fff;
  line-height: 30px;
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

/* PaginaNoticia */
.borde{
  border: 1px solid;
  padding: 10px;
}

/* PaginaCategoria */
.lineaVertical{
  border-left:  2px solid #21a4b6;
}

/* MEDIA QUERIES */
@media (max-width: 767px){
  .titulo {
    font-size: 40px;
  }
  
  .punto {
    font-size: 40px;
  }

  .tituloFooter {
    font-size: 25px;
  }
}

/* PAGINA SUSCRIPCION */
.cardsSuscripcion{
  background-color: #E6E6E6;
}
.cardsSuscripcion:hover{
 text-decoration: none;
 border: 1px solid #BDBDBD;
}
.cardEntera:hover{
 text-decoration: none;
}

/* MODAL LOGIN */
.tituloModal {
  font-family: "Noto Serif", serif;
  font-size: 30px;
}
.puntoModal {
  font-size: 30px;
  color: red;
}
.google {
  width: 36px;
  height: 36px;
  border-radius: 20%;
  color: #fff;
  background: rgb(66, 133, 244);
}
.cuadroFacebook{
  background-color: #3b5998;
  margin: 5% 13%;
  border-radius: 4px;
  color: white;
  padding: 6px 0px;
}
.cuadroGoogle{
  background-color:rgb(66, 133, 244);
  margin: 5% 13%;
  border-radius: 4px;
  color: white;
  padding: 6px 0px;
}
.cuadroGoogle:hover{
  background-color:rgb(66, 133, 244, 0.93);
}
.cuadroFacebook:hover{
  background-color:rgb(59, 89, 152, 0.93);
}
.linkModal:hover{
  text-decoration: none;
}

/* ERROR 404 */
.pError{
  font-size: 25px;
  font-family: "Noto Serif", serif;
  color: #818181;
}
.newsProError{
  color: black;
  font-size: 30PX;
  font-family: "Noto Serif", serif;
}

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Extra Small devices (landscape phones, 576px and up) */
@media (max-width: 575px) {
  /* Pagina Inicio */
  .anchoCard{
    width: 80%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
  /* Pagina Inicio */
  .anchoCard{
    width: 80%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  /* Pagina Inicio */
  .anchoCard{
    width: 45%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Pagina Inicio */
  .anchoCard{
    width: 45%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Pagina Inicio */
  .anchoCard{
    width: 45%;
  }
}